In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv
 
url = 'https://www.skysports.com/premier-league-table/2005'
 
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
 
league_table = soup.find('table', class_ = 'standing-table__table callfn')
 
premier_league = []
for team in league_table.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        pl_team = row.find('td', class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        pl_pi = row.find_all('td', class_ = 'standing-table__cell')[2].text
        pl_no_of_wins = row.find_all('td', class_ = 'standing-table__cell is-hidden--bp35')[0].text
        pl_no_of_draws = row.find_all('td', class_ = 'standing-table__cell is-hidden--bp35')[1].text
        pl_no_of_losses = row.find_all('td', class_ = 'standing-table__cell is-hidden--bp35')[2].text
        pl_no_of_goals_scored = row.find_all('td', class_ = 'standing-table__cell is-hidden--bp35')[3].text
        pl_no_of_goals_conceded = row.find_all('td', class_ = 'standing-table__cell is-hidden--bp35')[4].text
        pl_diff_btw_scored_conceded = row.find_all('td', class_ = 'standing-table__cell')[8].text
        pl_points = row.find_all('td', class_ = 'standing-table__cell')[9].text
        
        league = {
            'Team': pl_team,
            'Passing Interception': pl_pi,
            'Wins': pl_no_of_wins,
            'Draws': pl_no_of_draws,
            'Losses': pl_no_of_losses,
            'Goals_Scored': pl_no_of_goals_scored,
            'Goals_Conceded': pl_no_of_goals_conceded,
            'Diff': pl_diff_btw_scored_conceded,
            'Points': pl_points
        }
        premier_league.append(league)
 
 
df = pd.DataFrame(premier_league)
df.to_csv('premier_league.csv')
df

,Team,Passing Interception,Wins,Draws,Losses,Goals_Scored,Goals_Conceded,Diff,Points
0,Chelsea,38,29,4,5,72,22,50,91
1,Manchester United,38,25,8,5,72,34,38,83
2,Liverpool,38,25,7,6,57,25,32,82
3,Arsenal,38,20,7,11,68,31,37,67
4,Tottenham Hotspur,38,18,11,9,53,38,15,65
5,Blackburn Rovers,38,19,6,13,51,42,9,63
6,Newcastle United,38,17,7,14,47,42,5,58
7,Bolton Wanderers,38,15,11,12,49,41,8,56
8,West Ham United,38,16,7,15,52,55,-3,55
9,Wigan Athletic,38,15,6,17,45,52,-7,51
10,Everton,38,14,8,16,34,49,-15,50
11,Fulham,38,14,6,18,48,58,-10,48
12,Charlton Athletic,38,13,8,17,41,55,-14,47
13,Middlesbrough,38,12,9,17,48,58,-10,45
14,Manchester City,38,13,4,21,43,48,-5,43
15,Aston Villa,38,10,12,16,42,55,-13,42
16,Portsmouth,38,10,8,20,37,62,-25,38
17,Birmingham City,38,8,10,20,28,50,-22,34
18,West Bromwich Albion,38,7,9,22,31,58,-27,30
19,Sunderland,38,3,6,29,26,69,-43,15

In [28]:
# Scrap EspnCricInfo Bowlers data website
from bs4 import BeautifulSoup
import requests
import csv
flag=1
def scrapESPN(url,flag):
  p = requests.get(url)
  soup = BeautifulSoup(p.content, 'html.parser')
  content = soup.find_all('tr', class_='data1')
  fields = ['Winner','Span','Mat','Inns','Balls','Runs','Wkts','BBI','BBM','Ave','Econ','SR','5','10','']
  
  itemfull = []
  for item in content:
    items = []
    playerdata=(item.find_all('td'))
    for i in playerdata:
      items.append(i.text)
    itemfull.append(items)
  
  with open("ESPNcricBowltats.csv", 'a') as csvfile:  
      # creating a csv writer object  
      csvwriter = csv.writer(csvfile)
      if(flag==1):
        csvwriter.writerow(fields)
        flag=0
      csvwriter.writerows(itemfull)
 
 
url1 = "https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/"
url2 = ""
url3 = "template=results;type=batting"
url = url1+url2+url3
flag=1
scrapESPN(url,1)
for i in range(2,36):
  url2 = "page="+str(i)+";"
  url = url1+url2+url3
  print(url)
  scrapESPN(url,0)

https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=2;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=3;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=4;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=5;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=6;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=7;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=8;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=9;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=10;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=11;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=12;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=13;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=14;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=15;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=16;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=17;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=18;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=19;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=20;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=21;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=22;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=23;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=24;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=25;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=26;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=27;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=28;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=29;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=30;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=31;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=32;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=33;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=34;template=results;type=batting
https://www.indiatoday.in/live-score/cricket/icc-team-rankings-t20-odi-test/page=35;template=results;type=batting

In [26]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

url = "https://www.swiggy.com/restaurants/island-of-fire-city-sivakasi-sivakasi-550626"
p = requests.get(url)
soup = BeautifulSoup(p.content,'html.parser')
print(p)
content = soup.find_all('div', class_="_2wg_t")
fheader = ["Food Name","Price"]

itemfull = []

for item in content:
  items = []
  Food_name = item.find('h3', class_="styles_itemNameText__3ZmZZ")
  price = item.find('div', class_="styles_itemPortionContainer__1u_tj")
  
  
  if(Food_name is not None):
    items.append(Food_name.text)
  else:
    items.append("Food_name is NA")
  if(price is not None):
    items.append(price.text)
  else:
    items.append("No Original Price")
  
  itemfull.append(items)

pd.DataFrame(itemfull).to_csv("food.csv",header=fheader)

<Response [200]>